<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">     
<div class="modal-body">
   <table class="table" style="width:85%">
        <tr>
         <th><%='This Bed Not In Use'%></th>
        </tr>
    <tr>
    <td>
        <%= link_to 'Cancel', '#', class: "btn btn-default",data:{dismiss:"modal"}%></td>
        </tr>
    </table>

</div>
</div></div>
</div>
