<tr class="<%= cycle('odd', 'even')%>">
        <td class=" sorting_1">
          
     
        </td>
        <td class=" sorting_1">
        <%="Calel-D"%>
        </td>
        <td class=" sorting_1">Tablet</td>
        <td class=" sorting_1">
           <div class="row">
              <div class="form-group">
                  <div class="col-sm-1">
                <input type="checkbox" name="comment">
                  </div> 
                  <div class="col-sm-1">
                Morning
                  </div> 
            </div>
        </div>            
          <div class="row">
              <div class="form-group">
                  <div class="col-sm-1">
                <input type="checkbox" name="comment">
                  </div> 
                  <div class="col-sm-1">
                Afternoon
                  </div> 
            </div>
        </div>           
    <div class="row">
              <div class="form-group">
                  <div class="col-sm-1">
                <input type="checkbox" name="comment">
                  </div> 
                  <div class="col-sm-1">
                Evening
                  </div> 
            </div>
        </div>            
          <div class="row">
              <div class="form-group">
                  <div class="col-sm-1">
                <input type="checkbox" name="comment">
                  </div> 
                  <div class="col-sm-1">
                Night
                  </div> 
            </div>
        </div>           



        </td>
        <td class=" sorting_1">
        
        <div class="row">
              <div class="form-group">
                  <div class="col-sm-1">
                <input type="radio" name="timing2" checked="true">
                  </div> 
                  <div class="col-sm-1">
                Before
                  </div> 
            </div>
        </div>            
          <div class="row">
              <div class="form-group">
                  <div class="col-sm-1">
                <input type="radio" name="timing">
                  </div> 
                  <div class="col-sm-1">
                After
                  </div> 
            </div>
        </div>            



        </td>
        <td class=" sorting_1"><input type="text" name="power" size="10" value="10mg"></td>
        <td class=" sorting_1"><input type="text" name="quantity" size="10" value="1"></td>
        <td class=" sorting_1"><input type="button"  class= "btn btn-group btn-primary" value="Delete"></
</tr>


<tr class="<%= cycle('odd', 'even')%>">
        <td class=" sorting_1">
          
     
        </td>
        <td class=" sorting_1">
        <%="Crosin"%>
        </td>
        <td class=" sorting_1">Tablet</td>
        <td class=" sorting_1">
           <div class="row">
              <div class="form-group">
                  <div class="col-sm-1">
                <input type="checkbox" name="comment">
                  </div> 
                  <div class="col-sm-1">
                Morning
                  </div> 
            </div>
        </div>            
          <div class="row">
              <div class="form-group">
                  <div class="col-sm-1">
                <input type="checkbox" name="comment">
                  </div> 
                  <div class="col-sm-1">
                Afternoon
                  </div> 
            </div>
        </div>           
    <div class="row">
              <div class="form-group">
                  <div class="col-sm-1">
                <input type="checkbox" name="comment">
                  </div> 
                  <div class="col-sm-1">
                Evening
                  </div> 
            </div>
        </div>            
          <div class="row">
              <div class="form-group">
                  <div class="col-sm-1">
                <input type="checkbox" name="comment">
                  </div> 
                  <div class="col-sm-1">
                Night
                  </div> 
            </div>
        </div>           



        </td>
        <td class=" sorting_1">
        
        <div class="row">
              <div class="form-group">
                  <div class="col-sm-1">
                <input type="radio" name="timing4" checked="true">
                  </div> 
                  <div class="col-sm-1">
                Before
                  </div> 
            </div>
        </div>            
          <div class="row">
              <div class="form-group">
                  <div class="col-sm-1">
                <input type="radio" name="timing">
                  </div> 
                  <div class="col-sm-1">
                After
                  </div> 
            </div>
        </div>            



        </td>
        <td class=" sorting_1"><input type="text" name="power" size="10" value="10mg"></td>
        <td class=" sorting_1"><input type="text" name="quantity" size="10" value="1"></td>
        <td class=" sorting_1"><input type="button"  class= "btn btn-group btn-primary" value="Delete"></
</tr>