 <div class="box-content box-no-padding">
  <div class="responsive-table">
    <div class="scrollable-area">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
      <div class="row datatables-top">
      <div class="col-sm-4">
        <div id="DataTables_Table_0_length" class="dataTables_length">
        </div>
      </div>
      </div>
      <table class="data-table table table-bordered table-striped dataTable" style="margin-bottom:0;" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
        <thead>
          <tr role="row">
          <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
           Patient Name </th>
            <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="
              Name
            : activate to sort column descending" style="width: 297px;">
             Mobile No
            </th>
            <th class="sorting" role="columnheader" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" style="width: 125px;">Address</th>

            </tr>
        </thead>
        
      <tbody role="alert" aria-live="polite" aria-relevant="all">
    <tr>
      <td><%=@patient.patient_name%></td>
      <td><%=@patient.relative_phone_no%></td>
      <td><%=@patient.address%></td>
    </tr>
      </tbody>
       </table>
    </div>
  </div>
</div>