
 <%=form_for :select_tablet,url: prescription_add_tablet_prescription_path,remote: true do |form|%>
<div class="row">
<div class="form-group">
   <div class="col-sm-7"> 
  	 	Crosin
  </div> 
  <div class="col-sm-3">
		 <div class="col-sm-3"> <%= form.submit 'Select', class: "btn btn-group btn-primary "%>
  </div>  
</div>
</div>
</div>
<br>
<div class="row">
<div class="form-group">
   <div class="col-sm-7"> 
  	 	Calel-D
  </div> 
  <div class="col-sm-3">
		 <div class="col-sm-3"> <%= form.submit 'Select ', class: "btn btn-group btn-primary "%>
  </div>  
</div>
</div>
</div>
<br>
<div class="row">
<div class="form-group">
   <div class="col-sm-7"> 
  	 	Camptosar
  </div> 
  <div class="col-sm-3">
		 <div class="col-sm-3"> <%= form.submit 'Select  ', class: "btn btn-group btn-primary "%>
  </div>  
</div>
</div>
</div>
<%end%>