<div class="container">
<div class="row" style="margin-top:20px">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
            <%= link_to "Bed Master",masters_bed_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
         
          </div>
        </div>
       
      </div>
      <div class="col-md-4">
        <div class="panel panel-warning " style="width:250px;">
          <div class="panel-heading">
          <%= link_to "O.T.Master",masters_ot_master_path,style: 'color:black' %>
          </div>
          <div class="panel-body" style="height:70px">
           
          </div>
        </div>

      </div>
      </div>
       