<div class="page-header page-header-with-buttons">
	<h1 class="pull-left">
	  <i class="icon-dashboard"></i>
	  <span>Dashboard</span>
	</h1>
<div class="pull-right">
  <ol class="breadcrumb">
      <li class="active">
        <i class="fa fa-dashboard"></i> Dashboard
      </li>
  </ol>
</div>
</div>
 <div id="flash"><%= render 'layouts/flash_messages'%></div>

<div class="row box box-transparent">
<div class="col-xs-2 col-sm-1"></div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link blue-background">
	    <a href="/students/admission1">
	      <div class="header">
	        <div class="icon-edit"></div>
	      </div>
	      <div class="content">Admission</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link green-background">
	    <a href="/students">
	      <div class="header">
	        <div class="icon-star"></div>
	      </div>
	      <div class="content">Student Details</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link orange-background">
	    <a href="/users">
	      <div class="header">
	        <div class="icon-user"></div>
	      </div>
	      <div class="content">Manage Users</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link purple-background">
	    <a href="/newscasts">
	      <div class="header">
	        <div class="icon-bullhorn"></div>
	      </div>
	      <div class="content">Manage News</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link red-background">
	    <a href="/exams">
	      <div class="header">
	        <div class="icon-bar-chart"></div>
	      </div>
	      <div class="content">Examinations</div>
	    </a>
	  </div>
	</div>
</div>

<div class="row box box-transparent">
<div class="col-xs-2 col-sm-1"></div>

	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link muted-background">
	    <a href="/time_tables">
	      <div class="header">
	        <div class="icon-time"></div>
	      </div>
	      <div class="content">Timetable</div>
	    </a>
	  </div>
	</div>

	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link grass-green-background">
	    <a href="/attendances">
	      <div class="header">
	        <div class="icon-list"></div>
	      </div>
	      <div class="content">Attendance</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link brown-background">
	    <a href="/setting">
	      <div class="header">
	        <div class="icon-cogs"></div>
	      </div>
	      <div class="content">Settings</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link banana-background">
	    <a href="/employees">
	      <div class="header">
	        <div class="icon-link"></div>
	      </div>
	      <div class="content">Human Resources</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link sea-blue-background">
	    <a href="/finance">
	      <div class="header">
	        <div class="icon-rupee"></div>
	      </div>
	      <div class="content">Finance</div>
	    </a>
	  </div>
	</div>
</div>

 <div class="row box box-transparent">
<div class="col-xs-2 col-sm-1"></div>

	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link muted-background">
	    <a href="/time_tables">
	      <div class="header">
	        <div class="icon-file"></div>
	      </div>
	      <div class="content">File</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link grass-green-background">
	    <a href="/masters">
	      <div class="header">
	        <div class="icon-user-md"></div>
	      </div>
	      <div class="content">Master</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link brown-background">
	    <a href="/outdoors">
	      <div class="header">
	        <div class=" icon-arrow-left"></div>
	      </div>
	      <div class="content">outdoors</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link banana-background">
	    <a href="/employees">
	      <div class="header">
	        <div class="icon-stethoscope"></div>
	      </div>
	      <div class="content">Lab</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link sea-blue-background">
	    <a href="/pharmacy">
	      <div class="header">
	        <div class="icon-medkit"></div>
	      </div>
	      <div class="content">Pharmacy</div>
	    </a>
	  </div>
	  </div>
	  </div>
	  <div class="row box box-transparent">
<div class="col-xs-2 col-sm-1"></div>

	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link muted-background">
	    <a href="/time_tables">
	      <div class="header">
	        <div class="icon-file"></div>
	      </div>
	      <div class="content">Store</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link grass-green-background">
	    <a href="/attendances">
	      <div class="header">
	        <div class="icon-folder-open"></div>
	      </div>
	      <div class="content">Reports</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link brown-background">
	    <a href="/blood_banks">
	      <div class="header">
	        <div class="icon-ambulance"></div>
	      </div>
	      <div class="content">Blood Bank</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link banana-background">
	    <a href="/employees">
	      <div class="header">
	        <div class="icon-dollar"></div>
	      </div>
	      <div class="content">Accounts</div>
	    </a>
	  </div>
	</div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link sea-blue-background">
	    <a href="/finance">
	      <div class="header">
	        <div class="icon-rupee"></div>
	      </div>
	      <div class="content">Systems</div>
	    </a>
	  </div>
	</div>
	  </div>

	  <div class="row box box-transparent">
	<div class="col-xs-2 col-sm-1"></div>
	<div class="col-xs-4 col-sm-2">
	  <div class="box-quick-link brown-background">
	    <a href="indoor/indoor_dashboard">
	      <div class="header">
	        <div class=" icon-arrow-right"></div>
	      </div>
	      <div class="content">InDoor</div>
	    </a>
	  </div>
	</div>
	
</div>
</div>

